* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cfd2cf;
  font-family: "Roboto", sans-serif;
}

.main {
  /* margin: 0 auto; */
  margin-top: 50px;
  margin-left: 25%;
}

h1 {
  color: #0b132a;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.username {
  outline: none;
  padding-right: 200px;
}

.main__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 10px;
  color: #73777b;
}

.main__subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #7f8487;
  margin-bottom: 10px;
}

.todo-wrapper {
  margin-bottom: 15px;
}

#todo-input {
  width: 700px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding-left: 10px;

  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}

#todo-input:focus {
  outline: none;
}

#todo-input:active {
  border: none;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 700px;
}

#error {
  text-align: center;
  background-color: #fff;
  margin-top: 30px;
  padding: 10px 40px;
  color: #ff5c5c;
  border-radius: 10px;
  display: none;
}

.todo-form {
  width: 350px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.form__business,
.form__personal {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: none;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 2px solid #f56d91;
  border-radius: 50%;
}

.business {
  border: 2px solid #764af1;
}

.checkmark::after {
  content: "";
  display: block;
  border-radius: 50%;
}

.business::after {
  background-color: #764af1;
}

.personal::after {
  background-color: #f56d91;
}

.todo-form input:checked + .checkmark:after {
  width: 20px;
  height: 20px;
}

#todo__btn {
  width: 700px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  background-color: #764af1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 10px 0;
}

.task-container {
  width: 700px;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}

.todo__checkbox {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

#todo-task__checkbox {
  appearance: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 1px #f56d91;
}

.todo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
}

.btn-edit,
.btn-delete {
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.todo__btns {
  padding-left: 250px;
}

.btn-edit {
  width: 60px;
  background-color: #c7d36f;
}

.btn-delete {
  width: 80px;
  background-color: #eb1d36;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  display: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
  margin-left: 10px;
}

.task-input {
  margin-left: 10px;
}

.todo__text {
  outline: none;
  width: 500px;
  padding-left: 10px;
}

.toggle ~ .task-input {
  text-decoration: line-through;
}
